<!DOCTYPE html>
<html>
<head>
  <title>Color Matcher</title>
  <meta charset="UTF-8">
</head>
<body>
  <h1>Welcome to Color Matcher!</h1>
  <p>Your application is running successfully!</p>
</body>
</html>
