<div class="container">
  <h1>Color Matching Tool</h1>

  <div class="color-grid">
    <% @colors.each do |color| %>
      <div>
        <div class="color-box" style="background-color: <%= color.hex %>;"></div>
        <div class="color-label"><%= color.name %></div>
      </div>
    <% end %>
  </div>
</div>
